.nav--container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    height: 75px;
    margin-top: 10px;
}

.nav--items {
    display: flex;
    padding: 0px;
    width: 600px;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 100%;
    opacity: 90%;
    color: #FEF6ED;
    background-color: #F1600D;
}


.nav--item {
    cursor: grab;
}

.nav--item:hover {
    text-decoration: underline 2px;
    text-underline-offset: 5px;
    color: #1A265A;
}

.nav--header{
    color: #1A265A;
    font-size: 26px;
    font-weight: bold;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;

}

.about-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FEF6ED;
    font-size: 26px;
}

.about-content {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bio {
    width: 55%;
    height: 50%;
    font-size: 22px;
}

.eszter-photo {
    width: 30%;
    height: 50%;
    border-radius: 50%;
    shape-outside: circle();
}

.event-results-container {
    width: 100%;
    height: 800px;
    background-color: #FEF6ED;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contact-container {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F1600D;
    font-size: 30px;
}

.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 60%;
    padding-top: 10px;
}

.input-small {
    width: 60%;
    height: 30px;
    background-color: #FEF6ED;
    color: #F1600D;
    outline: 3px solid #F1600D;
    border: none;
}

.input-large {
    width: 60%;
    height: 200px;
    background-color: #FEF6ED;
    color: #F1600D;
    outline: 3px solid #F1600D;
    border: none;
}

.input-small::placeholder {
    color: #F1600D;
}

.input-large::placeholder {
    color: #F1600D;
}

.submit-btn {
    height: 10%;
    width: 60%;
    background-color: #FEF6ED;
    color: #F1600D;
    outline: 3px solid #F1600D;
    border: none;
    font-size: 18px;

}

.submit-btn:hover {
    background-color: #F1600D;
    color: #FEF6ED;
    cursor: grab;
}

.event-card-container {
    width: 25%;
    height: 55%;
    background-color: #F1600D;
    color: #FEF6ED;
}

.event-card-img {
    width: 100%;
    height: 40%;
}

.event-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60%;
}

.event-name {
    display: flex;
    gap: 10px;
}

.banner-image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {

    .eszter-photo {
        width: 40%;
        height: 40%;
    }

    .bio {
        width: 60%;
        height: 50%;
        font-size: 18px;
    }

    .event-name{
        font-size: 12px;
    }

    .event-text{
        font-size: 14px;
    }

}

@media screen and (max-width: 700px) {

    .nav--items{
        font-size: 14px;
    }

    .nav--header{
        font-size: 20px;
    }

    .event-card-container{
        height: 40%;
    }

    .event-name{
        font-size: 9px;
    }

    .event-text{
        font-size: 10px;
    }

    .bio {
        width: 100%;
        height: 50%;
        font-size: 14px;
    }
}


@media screen and (max-width: 500px) {

    .nav--items{
        font-size: 14px;
    }

    .nav--header{
        font-size: 20px;
    }

    .eszter-photo {
        width: 50%;
        height: 40%;
    }

    .bio {
        font-size: 12px;
    }

    .event-name{
        font-size: 8px;
    }

    .event-text{
        font-size: 10px;
    }

}


@media screen and (max-width: 390px) {

    .nav--items {
        width: 350px;
        gap: 8px;
        height: 60%;
        font-size: 12px;
    }

    .eszter-photo {
        width: 40%;
        height: 40%;
    }

    .bio {
        font-size: 11px;
    }

    .event-card-container{
        width: 40%;
    }
    .event-results-container{
        display: flex;
        flex-direction: column;
    }
}